@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName() <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="~/admin">Manage</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Global.Logoff</a></li>
        </ul>
    </li>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", /*@class = "navbar-right" */}))
    {
        @Html.AntiForgeryToken()
    }
}
else
{
    @Html.ActionLink(Resources.Global.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
  
}
